<div class="post">
	<div class="right">
		<h2><%= link_to "Read Me First", blog_path(blog) %></h2>
		<p class="post-info">Filed under <a href="#">templates</a>, <a href="#">internet</a></p>
		<div class="image-section"> <img src="assets/img-post.jpg" alt="" height="200" width="500"/> </div>
		<p><strong>CoolBlue</strong> is a free, W3C-compliant, CSS-based website template by styleshout.com. This work is distributed under the <a href="http://creativecommons.org/licenses/by/2.5/"> Creative Commons Attribution 2.5 License</a>, which means that you are free to use and modify it for any purpose. All I ask is that you give me credit by including a <strong>link back</strong> to my website. </p>
		<p> You can find more of my free template designs at my website.</p>
		<p><%= link_to "continue reading >>", blog_path(blog), class: "more" %></p>
	</div>
	<div class="left">
		<p class="dateinfo">JAN<span>31</span></p>
		<div class="post-meta">
			<h4>Post Info</h4>
			<ul>
			  <li class="user"><a href="#">Erwin</a></li>
			  <li class="time"><a href="#">12:30 PM</a></li>
			  <li class="comment"><a href="#">2 Comments</a></li>
			  <li class="permalink"><%= link_to "Permanlink", blog_url(blog) %></li>
			</ul>
		</div>
	</div>
</div>