<div id="sidebar">
	<div class="about-me">
		<h3>About Me</h3>
		<p> <a href="#"><img src="/assets/gravatar.jpg" width="40" height="40" alt="" class="float-left" /></a> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo <a href="#">Learn more...</a> </p>
	</div>
	<div class="sidemenu">
		<h3>Sidebar Menu</h3>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="#">TemplateInfo</a></li>
			<li><a href="style.html">Style Demo</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="archives.html">Archives</a></li>
			<li><a href="#">Web Templates</a></li>
		</ul>
	</div>
	<div class="sidemenu">
		<h3>Sponsors</h3>
		<ul>
			<li><a href="#">DreamTemplate <br />
			<span>Over 6,000+ Premium Web Templates</span></a> </li>
			<li><a href="#">ThemeLayouts <br />
			<span>Premium WordPress &amp; Joomla Themes</span></a> </li>
			<li><a href="#">ImHosted.com <br />
			<span>Affordable Web Hosting Provider</span></a> </li>
			<li><a href="#">DreamStock <br />
			<span>Download Amazing Stock Photos</span></a> </li>
			<li><a href="#">Evrsoft <br />
			<span>Website Builder Software &amp; Tools</span></a> </li>
			<li><a href="#">SEOStation <br />
			<span>Increase Your Site Rankings</span></a> </li>
		</ul>
	</div>
	<div class="popular">
		<h3>Most Popular</h3>
		<ul>
			<li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a> <br />
			<span>Posted on December 22, 2010</span> </li>
			<li><a href="#">Cras fringilla magna. Phasellus suscipit.</a> <br />
			<span>Posted on December 20, 2010</span> </li>
			<li><a href="#">Morbi tincidunt, orci ac convallis aliquam.</a> <br />
			<span>Posted on December 15, 2010</span> </li>
			<li><a href="#">Ipsum dolor sit amet, consectetuer adipiscing elit.</a> <br />
			<span>Posted on December 14, 2010</span> </li>
			<li><a href="#">Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem</a> <br />
			<span>Posted on December 12, 2010</span> </li>
		</ul>
	</div>
</div>